<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayne</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> |
        {% if user.is_authenticated %}
            Olá, {{ user.username}} | <a href="{% url 'logout' %}">Sair</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}    
</body>
</html>